.ListeEvenementsParticipant-header {
    background-color: #ffba07;
    height: 140px;
}

.ListeEvenementsParticipant-header h1 {
    margin-top:104px;
    margin-left: 80px;
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.ListeEvenementsParticipant-main{
    display: flex;
    flex-direction: column;
    margin: 50px 50px;
    font-family: Arial, sans-serif;
}

.ListeEvenementsParticipant-main p{
    margin-left: 100px;
    font-size: 12px;
    font-weight: bold;
}

.ListeEvenementsParticipant-table{
    margin: 20px 100px 50px 100px;
    border: none;
}

.ListeEvenementsParticipant-table thead{
    height: 70px;
    background-color: #eeeeed;
    font-size: 12px;
}


.colonne-titre{
    width: 20%;
}


.colonne-description{
    width: 50%;
}


.cellule {
    padding: 10px;
    font-size: 10px;
}
