body{
    background-color: white;
}

.login-container{
    background-color: white;
    margin: 130px auto;
    padding: 50px;
    align-items: center;
    border: solid lightgray 2px;
    text-align: center;
    justify-items: center;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.login-titre{
    padding: 10px;
    margin:5px auto 10px auto;
    font-size: 30px;
    font-family: Arial, sans-serif;
}

.login-form{
    display: inline-block;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 20px;
    margin: 10px auto;
}

.login-item, .login-button, .login-button-cancel {
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    border: solid black 1px;
}

.login-button, .login-button-cancel{
    font-weight: bold;
}

.login-button{
    border: none;
    background-color: #ffba07;
}

.login-registration-button{
    width: 40%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #0694fb;
    font-weight: bold;
    border: none;
    text-decoration: none;
    color: white;
}

p{
    font-size: 10px;
}

.error{
    align-items: center;
    margin: 10px auto;
    font-size: 12px;
    color: red
}



@media (max-width: 1290px) {
    .login-container{
        width: 50%;
    }
}


@media (max-width: 768px) {

    .login-container{
        width: 60%;
    }

    .login-titre{
        font-size: 28px;
    }

    .login-form{
        width: 60%;
        padding: 10px;
        margin: 5px;
    }

    .login-item, .login-button {
        margin-bottom: 10px;
        padding: 10px;
        font-size: 8px;
    }

    .login-registration-button {
        width: 60%;
        font-size: 8px;
    }
}

@media (max-width: 250px) {
    .login-container{
        width: 40%;
    }

    .login-titre{
        font-size: 18px;
    }

    .login-form{
        width: 70%;
        padding: 10px;
        margin: 5px;
    }

    .login-item, .login-button {
        margin-bottom: 10px;
        padding: 10px;
        font-size: 6px;
    }

    p{
        font-size: 8px;
    }

    .login-registration-button {
        width: 70%;
        font-size: 6px;
    }
}