.Liste-header {
    background-color: #ffba07;
    height: 140px;
}

.Liste-header h1 {
    margin-top:104px;
    margin-left: 80px;
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.Liste-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin: 50px;
    font-family: Arial, sans-serif;
}

.Liste-main p{
    margin-left: 100px;
    font-size: 12px;
    font-weight: bold;
}

.detailEvenement{
    line-height: 8px;
}

.detailEvenement p{
    margin-left: 100px;
    font-size: 10px;
    color: grey;
}

.detailEvenement span{
    font-size: 10px;
    font-weight: bold;
    color: black;
}


.Liste-table{
    margin: 20px 50px 50px 50px;
}

.Liste-table thead{
    height: 70px;
    text-align: left;
    border-bottom: solid #ffba07 3px;
    font-size: 12px;
}

.colonne{
    width: auto;
}

.colonne-statut{
    width: 5%;
}

.colonne-titre{
    width: 35%;
}

.colonne-autre{
    width: 20%;
}

.colonne-description{
    width: 40%;
}

.cellule {
    padding: 10px;
    font-size: 10px;
    text-align: justify;
}

.bouton-action{
    width: 70px;
    margin: 0 10px;
    padding: 5px;
    background-color: #0694fb;
    border: none;
    color: white;
    font-size: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.image-statut{
    width: 30px;
    height:30px;
}

@media (max-width: 768px) {

    .Liste-header {
        height: 100px;
    }

    .Liste-header h1 {
        margin-top:78px;
        margin-left: 20px;
        font-size: 25px;
    }

    .Liste-main{
        width: 80%;
        margin: 5px auto;
        overflow-x: scroll;
    }

    .Liste-table{
        width: 700px;
        margin: 50px 5px 70px 5px;
    }

    .detailEvenement {
        margin-top: 40px;
    }

    .detailEvenement p{
        margin-left: 10px;
        font-size: 10px;
    }

    .detailEvenement span{
        font-size: 10px;
        font-weight: bold;
    }

}