<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styleMoulin.css">
    <link rel="stylesheet" href="/styleMoulinNavbar.css">
    <link rel="stylesheet" href="/styleMoulinConfirmation.css">
    <title>Confirmation inscription</title>
</head>

<body>
<header>
    <div th:replace="~{fragments/fragment_navbar :: fragment_navbar}" ></div>
</header>

<main>
    <p>Votre inscription a été enregistrée avec succès!</p>
</main>

</body>

</html>