<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styleMoulin.css">
    <link rel="stylesheet" href="/styleMoulinNavbar.css">
    <link rel="stylesheet" href="/styleMoulinConfirmation.css">
    <title>Confirmation changement Mdp</title>
  </head>

  <body>
    <header>
      <div th:replace="~{fragments/fragment_navbar :: fragment_navbar}" ></div>
    </header>

    <main>
      <h1>Votre mot de passe a été modifié avec succès!</h1>
    </main>

  </body>

</html>