<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Participation</title>
</head>

<body>
<header>
    <h1>Inscription à l'évènement : </h1>
</header>

<main>
    <form th:action="@{/InscriptionParticipant}" th:object="${participantEvenement}" method="post" >

        <label>Prénom:</label>
        <input type="text" th:field="${participant.prenom}" required/>

        <label>Nom:</label>
        <input type="text" th:field="${participant.nom}" required/>

        <label>Téléphone:</label>
        <input type="text" th:field="${participant.telephone}" required/>

        <label>Email:</label>
        <input type="email" th:field="${participant.email}" required/>

        <label>Code Postal:</label>
        <input type="number" th:field="${participant.code_postal}" required/>
        <input type="hidden" th:field="${participant.username}" th:value="${#authentication.getName()}"/>
        <input type="number" th:value="${participant.id}" th:field="*{participant.id}" />
        <input type="number" th:value="${evenement.id}" th:field="*{evenement.id}" />
        <input class="bouton-creation" type="submit" value="Enregistrer"/>
    </form>
</main>
</body>
</html>