<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styleMoulin.css">
        <link rel="stylesheet" href="/styleMoulinNavbar.css">
        <link rel="stylesheet" href="/styleMoulinFormulaireCreation.css">
        <title>Informations Participant</title>
    </head>

    <body>

        <header class="formulaireCreation-header">
            <div th:replace="~{fragments/fragment_navbar :: fragment_navbar}" ></div>
            <h1>Informations : </h1>
        </header>

        <main>
            <form th:action="@{/InfoParticipant}" th:object="${participant}" method="post" >
                <p class="formulaireCreation-introduction">Merci de compléter les informations suivantes:</p>
                <div class="form-section">
                    <input class="form-item" type="text" th:field="*{prenom}" placeholder="Prénom" required/>
                    <input class="form-item" type="text" th:field="*{nom}" placeholder="Nom" required/>
                    <input class="form-item" type="text" th:field="*{telephone}" placeholder="Téléphone" required/>
                    <input class="form-item" type="email" th:field="*{email}" placeholder="Email" required/>
                    <input class="form-item" type="number" th:field="*{code_postal}" placeholder="Code postal" required/>
                    <input class="form-item" type="hidden" th:field="*{username}" th:value="${#authentication.getName()}"/>
                    <input class="form-item" type="hidden" th:field="*{id}" />
                    <input class="form-item" type="hidden" th:field="*{participantEvenements}" />
                </div>
                <input class="bouton-creation" type="submit" value="Enregistrer"/>
            </form>
        </main>

    </body>

</html>