<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styleMoulin.css">
        <link rel="stylesheet" href="/styleMoulinNavbar.css">
        <link rel="stylesheet" href="/styleMoulinListe.css">
        <title>Title</title>
    </head>

    <body>
        <header class="Liste-header">
            <div th:replace="~{fragments/fragment_navbar :: fragment_navbar}" ></div>
            <h1>Gestion des évènements</h1>
        </header>

    <main class="Liste-main">
    <div>
        <table class="Liste-table">
            <thead>
            <tr>
                <th class="colonne-titre">Titre</th>
                <th class="colonne-date">Date de début</th>
                <th class="colonne-date">Date de fin</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="evenement : ${evenements}">
                <td class="cellule" th:text="${evenement.titre}"></td>
                <td class="cellule" th:text="${evenement.dateDebut}"></td>
                <td class="cellule" th:text="${evenement.dateFin}"></td>
                <td><button type="button" class="bouton-action" th:onclick="|window.location.href= '@{/InscriptionsEvenement/{evenementId}(evenementId=${evenement.getId()})}'|">Participants</button></td>
                <td><button type="button" class="bouton-action" th:onclick="|window.location.href='@{/UpdateEvent/{id}(id=${evenement.id})}'|">Modifier</button></td>
                <td><button type="button" class="bouton-action" th:onclick="|window.location.href='@{/evenements/delete/{id}(id=${evenement.id})}'|">Supprimer</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>