<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<header>Gestion des évènements</header>
<main>
    <div class="table-container">
        <table class="tableau">
            <thead>
            <tr>
                <th class="en-tete-tableau sortable">Titre</th>
                <th class="en-tete-tableau">Date de début</th>
                <th class="en-tete-tableau">Date de fin</th>
                <th class="en-tete-tableau"></th>
                <th class="en-tete-tableau"></th>
                <th class="en-tete-tableau"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="evenement : ${evenements}">
                <td class="cellule" th:text="${evenement.titre}"></td>
                <td class="cellule" th:text="${evenement.dateDebut}"></td>
                <td class="cellule" th:text="${evenement.dateFin}"></td>
                <td><button type="button" class="btn btn-primary" ><a th:href="@{/inscrits/{evenement}(evenement=${evenement.getId()})}">Participants</a></button></td>
                <td><button type="button" class="btn btn-primary" th:onclick="|window.location.href='@{/UpdateEvent/{id}(id=${evenement.id})}'|">Modifier</button></td>
                <td><button class="delete-button" type="button"  th:onclick="|window.location.href='@{/evenements/delete/{id}(id=${evenement.id})}'|">Supprimer</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>